<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="Console"
				name="console"
				layout="${message}" />
	</targets>

	<rules>
		<!-- ASP.NET Core 시작/종료 로그는 표시 -->
		<logger name="Microsoft.Hosting.Lifetime*"
				minlevel="Info"
				writeTo="console"
				final="true" />

		<!-- DataProtection Information 이하 숨김 -->
		<logger name="Microsoft.AspNetCore.DataProtection.*"
				maxlevel="Info"
				final="true" />

		<!-- EF Core Information 이하 숨김 -->
		<logger name="Microsoft.EntityFrameworkCore.*"
				maxlevel="Info"
				final="true" />

		<!-- ASP.NET Core 내부 Information 이하 숨김 -->
		<logger name="Microsoft.AspNetCore.*"
				maxlevel="Info"
				final="true" />

		<!-- 우리 서버에서 ILogger로 작성할 업무 로그 -->
		<logger name="SmartSortingServer.*"
				minlevel="Info"
				writeTo="console"
				final="true" />

		<!-- 그 밖의 Warning 이상은 표시 -->
		<logger name="*"
				minlevel="Warn"
				writeTo="console" />
	</rules>

</nlog>